In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_parquet("cmm_erdos_bootcamp_2020_timeseries.pq")

In [3]:
df.head()

,date_val,calendar_year,calendar_month,calendar_day,day_of_week,is_weekday,is_workday,is_holiday,volume_A,volume_B,volume_C
0,2017-01-01,2017,1,1,1,0,0,1,974,701,574
1,2017-01-02,2017,1,2,2,1,0,0,5073,2976,3149
2,2017-01-03,2017,1,3,3,1,1,0,6710,4249,3595
3,2017-01-04,2017,1,4,4,1,1,0,5746,3942,3651
4,2017-01-05,2017,1,5,5,1,1,0,5863,4279,3792

In [26]:
df_month = df.groupby(['calendar_year', 'calendar_month']).sum()

In [27]:
df_month.head()

                              calendar_day  day_of_week  is_weekday  \
calendar_year calendar_month
2017          1                        496          118          22
              2                        406          112          20
              3                        496          127          23
              4                        465          120          20
              5                        496          121          23

                              is_workday  is_holiday  volume_A  volume_B  \
calendar_year calendar_month
2017          1                       21           1    147323     96573
              2                       20           0    137189     95916
              3                       23           0    153764    100467
              4                       20           0    135713     87016
              5                       22           1    145229     93807

                              volume_C
calendar_year calendar_month
2017          1                  88283
              2                  80737
              3                  99476
              4                  84720
              5                  84691

In [28]:
df_month.describe()

,calendar_day,day_of_week,is_weekday,is_workday,is_holiday,volume_A,volume_B,volume_C
count,36.000000,36.00000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,478.166667,121.50000,21.722222,21.083333,0.500000,188857.444444,95348.444444,89747.444444
std,26.394263,4.70562,1.085255,1.250714,0.507093,28057.115083,8018.557154,8570.114656
min,406.000000,112.00000,20.000000,19.000000,0.000000,135713.000000,78356.000000,74916.000000
25%,465.000000,118.00000,21.000000,20.000000,0.000000,167888.250000,90394.750000,83547.750000
50%,496.000000,121.50000,22.000000,21.000000,0.500000,198020.500000,95936.000000,88836.000000
75%,496.000000,125.00000,23.000000,22.000000,1.000000,207928.500000,98839.250000,97885.250000
max,496.000000,130.00000,23.000000,23.000000,1.000000,233097.000000,111999.000000,104071.000000

In [7]:
df_month.corr()

,calendar_day,day_of_week,is_weekday,is_workday,is_holiday,volume_A,volume_B,volume_C
calendar_day,1.000000,0.654237,0.700874,0.494630,0.288183,0.213874,0.104150,0.174072
day_of_week,0.654237,1.000000,0.464367,0.376235,0.047895,0.223543,0.126852,0.171224
is_weekday,0.700874,0.464367,1.000000,0.817423,0.155752,0.239522,0.236964,0.351309
is_workday,0.494630,0.376235,0.817423,1.000000,-0.382918,0.189231,0.376949,0.506465
is_holiday,0.288183,0.047895,0.155752,-0.382918,1.000000,-0.025803,-0.264722,-0.316184
volume_A,0.213874,0.223543,0.239522,0.189231,-0.025803,1.000000,0.612445,0.659133
volume_B,0.104150,0.126852,0.236964,0.376949,-0.264722,0.612445,1.000000,0.876050
volume_C,0.174072,0.171224,0.351309,0.506465,-0.316184,0.659133,0.876050,1.000000

In [21]:
df_month.groups()

AttributeError: 'DataFrame' object has no attribute 'groups'

In [ ]:
plt.plot(df_month['volume_A'],label="A")
plt.plot(df_month['volume_B'],label="B")
plt.plot(df_month['volume_C'],label="C")
plt.legend()